.App {
  text-align: left;
  background-color: rgb(255, 255, 255);
  margin: 1em;
  padding: 1em;
}

body {
  background-color: black;
}


.arguments-app {

  font-size: large;

  .side-bar .nav {
    display: block;

    .nav-link {
      color: rgb(255, 255, 255);
      font-weight: 600;

    }
  }

  .navbar {
    height: 6em;
    background-color: #046271 !important
  }

  .alert {
    background-color: #f8dfb8;
    border-radius: 1em;
    color: #060226;
    font-size: medium;
    font-weight: 400;
    margin: 20px 2px 2px;

    a {
      color: #050e5a;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .navbar-dark {
    .navbar-nav .nav-link {
      color: rgb(222 249 0);
      font-weight: 600;
    }

    .navbar-nav .show>.nav-link {
      color: rgb(89, 160, 182);
    }

    .navbar-brand {
      font-size: 2em;
      font-weight: 700;
      color: rgb(255 255 255)
    }
  }



  .context-container,
  .page-context {
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .context-col {
    background-color: rgb(48, 81, 97);
    border-radius: 2em;
    padding: 1em;
  }

  .side-bar-col {
    background-color: #402659;
    margin-left: 1em;
  }

  .app-body {
    background: #96adb6;
    color: white;
  }

  .auth-button {
    padding: 2px;
    width: 90px;
    border-radius: 2em;
    position: absolute;
  }

  .App .amplify-button {
    margin: 1em;
    float: right;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  .articles {
    background-color: #6a97eb;
    padding: 1em;
    color: black;
  }

  .articles-list {
    padding: 1em;
    background-color: white;
    margin-bottom: 1em;

    .f1 {
      flex: 0 20 350px;
    }

    .f2,
    .f3,
    .f4,
    .f5 {
      flex: 1;
    }

    .fs {
      flex: 0 0 250px;
    }
  }


  .article-publish {
    background-color: #c9e3f6;
    padding: 1em;
    color: black;
    font-weight: 400
  }


  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
#google_translate_element {
  width: 300px;
  height: 2em;
  position: fixed;
  z-index: 100000;
  top: 40px;
  left: 40%;
}